.profile {
  height: 150px;
  display: flex;
  overflow: hidden;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

  .profile-image-container {

    flex-grow: 1;
    padding-top: 20px;
  }

    .profile-image-circle {
      border-radius: 50%;
      border: 1px solid #ccc;
      width: 100px;
      height: 100px;
      overflow: hidden;
    }

    .profile-image-circle .profile-image {
      height: 100px;
      width: 100px;
    }

  .profile-info-container {
    flex-grow: 3;
    padding: 5px 20px;
  }

    .profile-info-name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 5px;
    }