.carousel {
  min-width  : 100px;
  width      : auto;
  max-width  : 380px;
  min-height : 100px;
  height     : auto;
  max-height : 380px;

  margin     : 0 auto;

  border     : 1px solid #ccc;
  overflow   : hidden;
}

  .carousel-inner {
    height     : inherit;

    transition : margin-left 0.4s ease;
  }

    .carousel-image-container {
      height  : inherit;

      display : inline-block;

      &:not(:first-child) {
        float : left;
      }
    }

      .carousel-image {
        display : inline-block;

        &:not(:first-child) {
          float : left;
        }
      }
