.carousel-image {
  min-width  : 100px;
  width      : auto;
  max-width  : 380px;
  min-height : 100px;
  height     : auto;
  max-height : 380px;

  margin     : 0 auto;

  border     : 1px solid #ccc;
  overflow   : hidden;
}

  .carousel-image img {
    display : block;
    margin  : 0 auto;
  }