.photo-feed {
  padding: 15px 20px 10px 20px;
  text-align: center;
  min-height: 420px;
  position: relative
}

  .photo-feed .loading-spinner {
    margin-top   : 50px;
    margin-left  : auto;
    margin-right : auto;
  }