.profile-image-outer {
  border-radius : 50%;
  border        : 1px solid #ccc;
  min-height : 50px;
  min-width  : 50px;
  max-height : 100px;
  max-width  : 100px;
  height     : auto;
  width      : auto;
  overflow      : hidden;
  margin        : 0 auto;
}

  .profile-image-inner {
    min-height : 50px;
    min-width  : 50px;
    max-height : 100px;
    max-width  : 100px;
    height     : auto;
    width      : auto;
  }