.profile-image-outer {
  border-radius : 50%;
  border        : 1px solid #ccc;
  width         : 100px;
  height        : 100px;
  overflow      : hidden;
  margin        : 0 auto;
}

  .profile-image-inner {
    height : 100px;
    width  : 100px;
  }