.profile-image-outer {

  min-width     : 50px;
  width         : auto;
  max-width     : 100px;
  min-height    : 50px;
  height        : auto;
  max-height    : 100px;

  border-radius : 50%;
  border        : 1px solid #ccc;
  overflow      : hidden;
  margin        : 0 auto;
}

  .profile-image-inner {
     min-width  : 50px;
     width      : auto;
     max-width  : 100px;
     min-height : 50px;
     height     : auto;
     max-height : 100px;
  }